.Home-page-wrraper {
  .fullpage {
    min-height: 100vh !important;
    background-color: aqua !important;
  }
  .header-img {
    min-height: 300px;
    background-image: url("../../figma_img/kadai-paneer1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center !important;
  }
  .header-title {
    font-weight: 800;
    font-style: italic;
    padding-top: 5%;
    font-size: 55px;
    letter-spacing: 5%;
  }
}
