.product-card-wrapper {
  .navbar {
    background-color: yellow;
  }
  .nav-logo {
    font-size: 45px;
    font-weight: 700;
    background: -webkit-linear-gradient(red, yellow, blue, black, lightgreen);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .btn-login {
    color: green;
    font-size: 23px;
    font-weight: 700;
  }
  .btn-signup {
    font-size: 23px;
    font-weight: 700;
    color: green;
  }
  .lnk-contect {
    font-size: 23px;
    font-weight: 700;
    color: green;
    margin-bottom: 5px;
  }
}
